    *{
        margin:0%;
    }

body {

    display: grid;
    
    grid-template-areas:   
    "header header header"
    "aside main main"
    "footer footer footer"


}



header {

    grid-area: header;


background-color: #ff0000;

}

aside {
    background-color: #bb0000;
    grid-area: aside;
    width: 250px;
}

main {
    
    grid-area: main;
    background-color: #ffffff;

}

footer {

    grid-area: footer;
    background-color: #000000;
    width: 2150px;
    position: ;
}

h3{
    color: rgb(0, 0, 0);
}

h4{
    color: white;
}
.nomenela{
    width: 20%;
}


.rodapélogo{
    width: 15%;
    
}

.instagram{
    width: 5%;
}

.facebook{
    width: 5%;
}

.twitter{
    width: 5%;
}



.morena{
    border:solid;
    align-items: center;
    height: 300px;
    width: 350px;
   




}



